<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- will_paginateメソッドで、ページネーション機能を実装 -->
<%= will_paginate %>

<ul class="users">
  <!-- 1人1人のユーザーに対してリストで表現 -->
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user_path(user) %>
    </li>
  <% end %>
</ul>

<!-- 下にもページネーションを追加 -->
<%= will_paginate %>
